@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  font-family: 'Pacifico', 'Montserrat', sans-serif;
}

.slide-in-left {
  animation: slide-in-left 1.95s ease;
}

.slide-in-right {
  animation: slide-in-right 1.95s ease;
}

.slide-in-bottom {
  animation: slide-in-bottom 4s ease;
}

.showcase {
  background-image: url('./bg.jpg');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
  color: #fff;
}

.about {
  background-image: url('./us.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  position: relative;
  z-index: -1;
}

.showcase::before,
.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}

input,
textarea {
  margin: 20px 0;
}

#check:checked~header ul {
  transform: translateY(0);
}

header.active {
  background-color: teal;
}

@media(max-width:768px) {
  header ul {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: 1.5s ease-in-out;
    background: teal;
    flex-direction: column;
    height: 100vh;
    margin-top: 400px;
    justify-content: center;
  }

  header ul li {
    margin: 30px 0;
  }
}

@keyframes slide-in-left {
  0% {
    left: -200%;
  }

  100% {
    left: 0;
  }
}

@keyframes slide-in-bottom {
  0% {
    bottom: -200%;
  }

  100% {
    bottom: 0;
  }
}

@keyframes slide-in-right {
  0% {
    right: -200%;
  }

  100% {
    right: 0;
  }
}